<section id="{{ page.cta_anchor_id|default:'cta' }}" class="ks-cta-dark ks-cta-media-left">
    <div class="container py-5">
        <div class="row align-items-center g-5">
            <div class="col-lg-5">
                {% include "home/includes/ctas/media_panel.html" compact=True %}
            </div>
            <div class="col-lg-7">
                {% include "home/includes/ctas/content.html" with dark=True %}
                <div class="mt-4">
                    {% include "home/includes/ctas/buttons.html" with dark=True %}
                </div>
            </div>
        </div>
    </div>
</section>
