<section id="{{ page.features_anchor_id|default:'features' }}" class="ks-section ks-height-{{ page.features_section_height }}">
    <div class="container ks-container" data-ks-align="{{ page.features_text_alignment }}" data-ks-width="{{ page.features_content_width }}">
        <div class="ks-copy mb-5">{% include "home/components/feature_heading.html" %}</div>
        <div class="row g-5">
            {% for feature in page.features.all %}<div class="col-md-6">{% include "home/components/feature_item.html" with show_icon=True %}</div>{% endfor %}
        </div>
    </div>
</section>
