<section id="{{ page.clients_anchor_id|default:'clients' }}" class="py-5 ks-clients-dark ks-clients-dark-row">
    <div class="container py-4">
        {% if page.clients_title %}
        <h2 class="h5 text-white mb-5">{{ page.clients_title }}</h2>
        {% endif %}
        <div class="ks-client-logo-row">
            {% for client in page.client_logos.all %}
            {% include "home/includes/clients/logo_item.html" with client=client dark=True %}
            {% endfor %}
        </div>
    </div>
</section>
