<section id="{{ page.services_anchor_id|default:'services' }}" class="py-5 ks-services-dark ks-services-dark-grid">
    <div class="container py-4">
        <div class="mb-5 ks-section-copy">
            {% include "home/includes/services/section_heading.html" with dark=True %}
        </div>
        <div class="row g-4">
            {% for card in page.service_cards.all %}
            <div class="col-md-6 col-lg-4">
                {% include "home/includes/services/compact_feature.html" with card=card dark=True %}
            </div>
            {% endfor %}
        </div>
    </div>
</section>
