<section id="{{ page.services_anchor_id|default:'services' }}" class="py-5 bg-white ks-services-simple-columns">
    <div class="container py-4">
        <div class="mb-5 ks-section-copy">
            {% include "home/includes/services/section_heading.html" %}
        </div>
        <div class="row g-5">
            {% for card in page.service_cards.all %}
            <div class="col-md-6 col-lg-4">
                {% include "home/includes/services/plain_feature.html" with card=card %}
            </div>
            {% endfor %}
        </div>
    </div>
</section>
