<section id="{{ page.hero_anchor_id|default:'hero' }}" class="ks-section ks-height-{{ page.hero_section_height }}" data-ks-vertical="{{ page.hero_vertical_alignment }}" {% if page.hero_style %} style="{{ page.hero_style }}"{% endif %}>
    <div class="container-fluid px-3">
        <div class="container ks-container mb-5" data-ks-align="{{ page.hero_text_alignment }}" data-ks-width="{{ page.hero_content_width }}">
            <div class="ks-copy">
                {% include "home/components/hero_copy.html" %}
                <div class="ks-button-group">{% include "home/components/hero_buttons.html" %}</div>
            </div>
        </div>
        {% include "home/components/hero_media.html" %}
    </div>
</section>
