{% if page.hero_buttons_enabled %}
<div class="d-flex flex-column flex-sm-row gap-2{% if center %} justify-content-center{% endif %}">
    {% if page.hero_primary_button_label %}
    <a href="{{ page.hero_primary_button_url|default:'#contact' }}" class="btn btn-dark btn-lg">
        {{ page.hero_primary_button_label }}
    </a>
    {% endif %}
    {% if page.hero_secondary_button_label %}
    <a href="{{ page.hero_secondary_button_url|default:'#services' }}" class="btn btn-outline-dark btn-lg">
        {{ page.hero_secondary_button_label }}
    </a>
    {% endif %}
</div>
{% endif %}
